@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --font-fredoka: 'Fredoka', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-poppins);
    font-weight: normal;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    &:hover {
     cursor: pointer;
    }
  }
  
.app {
    background-color: #FEB139;
    // background-image: -webkit-linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    // background-image: -moz-linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    // background-image: -o-linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    // background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    // min-height: 100vh;
    // max-height: 670px;

    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 1.5em;
    .heading {
        padding:0;
        margin: 0;
        padding-top: 1.25em;
        font-size: 3em;
        font-family: var(--font-fredoka);
        font-weight: 700;
        color: #311D3F;
    }
}
  
.board {
    padding-top: 1.5em;
    .board-row {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
    //   border-bottom: 5px solid #fff;
    //   border-radius: 99px;
    //   &::before {
    //     content: '';
    //     position: absolute;
    //     width: 90%;
    //     height: 5px;
    //     bottom: 0;
    //     background: #fff;
    //     border-radius: 99px;
    //   }
      &:last-child {
        .square {
            &::after {
                display: none;
            }
        }
      }
      .square {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: var(--font-fredoka);
        font-weight: 600;
        width: 100px;
        height: 100px;
        // border-right: 5px solid #fff;
        font-size: 2.5rem;
        padding: 0;
        overflow: hidden;
        transition: all 0.2s;
        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 70%;
            right: 0;
            background: #fff;
            border-radius: 99px;
          }
          &:last-child {
            &::before {
                display: none;
            }
          }
        &::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 5px;
            bottom: 0;
            background: #fff;
            border-radius: 99px;
          }
          &:nth-child(1){
            &::after {
                right: 0;
            }
          }
          &:nth-child(3){
            &::after {
                left: 0;
            }
          }
      }
    }
  }
  